<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div class="alert alert-danger text-start">
      <h2 class="alert-heading mb-3"><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <% movie.errors.each do |error| %>
        <p><%= error.full_message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :client_id, class: "form-label" %>
    <%= form.select :client_id, options_for_select(@clients), {}, { class: "form-select" } %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
