<tr id="<%= dom_id client %>">
  <th scope="row"><%= client.id %></th>
  <td><%= client.name %></td>
  <td><%= client.age %></td>
  <td>
    <% if client.movies.empty? %>
      None
    <% else %>
      <ul class="list-group list-group-flush">
        <% client.movies.each do |movie| %>
          <li class="list-group-item"><%= movie %></li>
        <% end %>
      </ul>
    <% end %>
  </td>
<%# /td /tr - Remember to complete the table row when you render this partial %>
