<p style="color: green"><%= notice %></p>

<table class="table table-bordered align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Movies</th>
    </tr>
  </thead>
  <tbody>
    <%= render @client %>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> |
  <%= link_to "Back to clients", clients_path %>

  <%= button_to "Destroy this client", @client, method: :delete, class: "btn btn-danger my-3" %>
</div>
